.information-user{
    background: #f3f3f5;
    .title-information{

    }
    .form-item{
        .label-form {

        }
        .input-form{
            border:  1px solid var(--border-color);
            border-radius:5px ;
            outline: none;
        }
    }
}