#search {
    .over-view{
        height: calc(100vh - var(--height-header)); 
        background-image: url('../../source/banner-01.jpg');
        .detail{
            .btn-more{
                border-radius: 20px;
                border: 1px solid var(--primary-color);
            }
        }
    }
    .sort{
        background-color: var(--primary-color);
    }
}